{% extends "base.html" %}

{% block content %}
<section class="p-6">
    <div>
        <h1 class="mb-4">Pet Projects</h1>
        <div class="my-20">

            <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
                {% for project in projects %}
                  {% include "blog/projects/card/index.html" with project=project %}
                {% empty %}
                  N/A
                {% endfor %}
            </div>

        </div>
    </div>
</section>
{% endblock content %}
