version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
    open-pull-requests-limit: 10
    labels:
      - "javascript"
      - "typescript"
      - "dependencies"
    commit-message:
      prefix: "chore(deps)"
      include: "scope"
    reviewers:
      - "nguyentranquangtrung"
    assignees:
      - "nguyentranquangtrung"
