name: simple-django-blog

x-app: &default-app
  build:
    context: .
    args:
      - DJANGO_SETTINGS_MODULE=${DJANGO_SETTINGS_MODULE}
      - DEBUG=${DEBUG}
  volumes:
    - .:/app
    - static_volume:/app/staticfiles
  env_file:
    - path: .env
      required: true

services:
  django:
    <<: *default-app
    image: django-blog-image
    container_name: django-blog-container
    command: /usr/local/bin/entrypoint.sh
    ports:
      - "8000:8000"
    depends_on:
      - tailwind

  tailwind:
    <<: *default-app
    container_name: django-tailwind-container
    command: >
      sh -c 'if [ "$DEBUG" = "True" ]; then
        echo "Starting Tailwind in development mode";
        poetry run python manage.py tailwind start;
      else
        echo "Starting Tailwind in production mode";
        poetry run python manage.py tailwind build;
      fi'
    tty: true

volumes:
  static_volume:
