name: simple-django-blog

services:
  django:
    build: .
    image: django-blog-image
    container_name: django-blog-container
    command: /app/entrypoint.sh
    ports:
      - "8000:8000"
    depends_on:
      - postgres
    env_file:
    - path: .env
      required: true # default

  postgres:
    image: postgres
    container_name: django-blog-postgres-container
    ports:
      - "${POSTGRES_PORT}:5432"
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - path: .env
        required: true # default

volumes:
  postgres_data:
