name: simple-django-blog

x-app: &default-app
  build:
    context: .
    # We are not using env_file here because Dockerfile build args do not receive values from env_file; instead, we must pass environment variables directly via args in the docker-compose file.
    args:
      - DEBUG=${DEBUG}
      - DJANGO_SETTINGS_MODULE=${DJANGO_SETTINGS_MODULE}

      - DJANGO_ALLOWED_HOSTS=${DJANGO_ALLOWED_HOSTS}
      - DJANGO_CSRF_TRUSTED_ORIGINS=${DJANGO_CSRF_TRUSTED_ORIGINS}
      - DJANGO_INTERNAL_IPS=${DJANGO_INTERNAL_IPS}

      - SUPABASE_S3_REGION=${SUPABASE_S3_REGION}
      - SUPABASE_S3_ACCESS_KEY=${SUPABASE_S3_ACCESS_KEY}
      - SUPABASE_S3_SECRET_ACCESS_KEY=${SUPABASE_S3_SECRET_ACCESS_KEY}
      - SUPABASE_STORAGE_BUCKET_NAME=${SUPABASE_STORAGE_BUCKET_NAME}
      - SUPABASE_PROJECT_REF=${SUPABASE_PROJECT_REF}

      - GITHUB_PERSONAL_ACCESS_TOKEN=${GITHUB_PERSONAL_ACCESS_TOKEN}
      - GITHUB_BASE_URL=${GITHUB_BASE_URL}
      - GITHUB_API_VERSION=${GITHUB_API_VERSION}

  volumes:
    - .:/app
    - static_volume:/app/staticfiles

services:
  django:
    <<: *default-app
    image: django-blog-image
    container_name: django-blog-container
    command: /usr/local/bin/entrypoint.sh
    ports:
      - "8000:8000"
    depends_on:
      - tailwind

  tailwind:
    <<: *default-app
    container_name: django-tailwind-container
    command: >
      sh -c 'if [ "$DEBUG" = "True" ]; then
        echo "Starting Tailwind in development mode";
        poetry run python manage.py tailwind start;
      else
        echo "Starting Tailwind in production mode";
        poetry run python manage.py tailwind build;
      fi'
    tty: true

volumes:
  static_volume:
