name: simple-django-blog

x-app: &default-app
  build:
    context: .
    # We are not using env_file here because Dockerfile build args do not receive values from env_file; instead, we must pass environment variables directly via args in the docker-compose file.
    args:
      - DEBUG=${DEBUG}
      - DJANGO_SETTINGS_MODULE=${DJANGO_SETTINGS_MODULE}

      - DJANGO_ALLOWED_HOSTS=${DJANGO_ALLOWED_HOSTS}
      - DJANGO_CSRF_TRUSTED_ORIGINS=${DJANGO_CSRF_TRUSTED_ORIGINS}
      - DJANGO_INTERNAL_IPS=${DJANGO_INTERNAL_IPS}

      - SUPABASE_S3_REGION=${SUPABASE_S3_REGION}
      - SUPABASE_S3_ACCESS_KEY=${SUPABASE_S3_ACCESS_KEY}
      - SUPABASE_S3_SECRET_ACCESS_KEY=${SUPABASE_S3_SECRET_ACCESS_KEY}
      - SUPABASE_STORAGE_BUCKET_NAME=${SUPABASE_STORAGE_BUCKET_NAME}
      - SUPABASE_PROJECT_REF=${SUPABASE_PROJECT_REF}

      - GITHUB_PERSONAL_ACCESS_TOKEN=${GITHUB_PERSONAL_ACCESS_TOKEN}
      - GITHUB_BASE_URL=${GITHUB_BASE_URL}
      - GITHUB_API_VERSION=${GITHUB_API_VERSION}

      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - REDIS_DB_INDEX=${REDIS_DB_INDEX}

      - CELERY_BROKER_REDIS_DB_INDEX=${CELERY_BROKER_REDIS_DB_INDEX}
      - CELERY_BACKEND_REDIS_DB_INDEX=${CELERY_BACKEND_REDIS_DB_INDEX}

      - FLOWER_USER=${FLOWER_USER}
      - FLOWER_PASSWORD=${FLOWER_PASSWORD}

  volumes:
    - .:/app
    - static_volume:/app/staticfiles

services:
  django:
    <<: *default-app
    image: django-blog-image
    container_name: django-blog-container
    command: /usr/local/bin/entrypoint.sh
    ports:
      - "8000:8000"

  tailwind:
    <<: *default-app
    image: django-blog-image
    container_name: django-tailwind-container
    command: >
      sh -c 'if [ "$DEBUG" = "True" ]; then
        echo "Starting Tailwind in development mode";
        poetry run python manage.py tailwind start;
      else
        echo "Starting Tailwind in production mode";
        poetry run python manage.py tailwind build;
      fi'
    tty: true

  redis:
    image: redis:alpine
    container_name: django-redis-container
    ports:
      - "6379:6379"
    command: redis-server --save "" --appendonly no --requirepass ${REDIS_PASSWORD}
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "${REDIS_PASSWORD}", "ping"]
      interval: 30s
      timeout: 10s
      retries: 3

  celery-worker:
    image: django-blog-image
    container_name: django-celery-worker-container
    command: >
      sh -c 'poetry run celery -A config worker --loglevel=info'
    depends_on:
      - redis
      - django
    environment:
      - CELERY_BROKER_URL=redis://:${REDIS_PASSWORD}@redis:${REDIS_PORT}/${CELERY_BROKER_REDIS_DB_INDEX}
      - CELERY_RESULT_BACKEND=redis://:${REDIS_PASSWORD}@redis:${REDIS_PORT}/${CELERY_BACKEND_REDIS_DB_INDEX}

  celery-beat:
    image: django-blog-image
    container_name: django-celery-beat-container
    command: >
      sh -c 'poetry run celery -A config beat --loglevel=info --scheduler django_celery_beat.schedulers:DatabaseScheduler'
    depends_on:
      - redis
      - django
    volumes:
      - .:/app

  flower:
    image: django-blog-image
    container_name: django-flower-container
    command: >
      poetry run celery -A config.celery flower --port=5555 --basic_auth=${FLOWER_USER}:${FLOWER_PASSWORD} --broker=redis://:${REDIS_PASSWORD}@redis:${REDIS_PORT}/${CELERY_BROKER_REDIS_DB_INDEX} --result-backend=redis://:${REDIS_PASSWORD}@redis:${REDIS_PORT}/${CELERY_BACKEND_REDIS_DB_INDEX}
    ports:
      - "5555:5555"
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - REDIS_HOST=${REDIS_HOST}
    depends_on:
      - redis
      - django
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5555/"]
      interval: 30s
      timeout: 10s
      retries: 3

volumes:
  static_volume:
  redis_data:
