name: simple-django-blog

x-app: &default-app
  build:
    context: .
  volumes:
    - .:/app
  env_file:
    - path: .env
      required: true
  depends_on:
    - postgres

services:
  django:
    <<: *default-app
    image: django-blog-image
    container_name: django-blog-container
    command: /usr/local/bin/entrypoint.sh
    ports:
      - "8000:8000"

  tailwind:
    <<: *default-app
    container_name: django-tailwind-container
    # command: "poetry run python manage.py tailwind start"
    command: >
      sh -c 'if [ "$DEBUG" = "1" ]; then
        echo "Starting Tailwind in development mode";
        poetry run python manage.py tailwind start;
      else
        poetry run python manage.py tailwind build;
      fi'
    tty: true

  postgres:
    image: postgres
    container_name: django-blog-postgres-container
    ports:
      - "${POSTGRES_PORT}:5432"
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - path: .env
        required: true # default

volumes:
  postgres_data:
