* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

html {
  line-height: 1.2;
}

body {
  background-color: #fff;
  font-family: "Calibri", Arial, "Times New Roman", sans-serif;
  margin: 0;
  padding: 60px 30px;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}

h1 {
  color: #000;
}

h2 {
  color: #333;
}

section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  gap: 20px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.divider {
  position: relative;
  left: -5%;
  width: 100vw;
  border-top: 1px dashed #888;
  margin: 40px 0;
}

.profile-picture {
  width: 100px;
}

.company,
.education,
.certification {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.company h4,
.education h4,
.certification h4 {
  text-decoration: underline;
}

.experiences,
.educations,
.certifications {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.shrink {
  flex-shrink: 0;
}
