{% extends "base.html" %}
{% load static %}
{% load svg_tags %}

{% block prismjs %}<script src="{% static 'prism/prism.js' %}"></script>{% endblock prismjs %}
{% block prismcss %}<link rel="stylesheet" href="{% static 'prism/prism.css' %}">{% endblock prismcss %}

{% block title %}{{ object.title }}{% endblock title %}

{% block extrahead %}
    <link rel="canonical" href="{{ object.canonical_url }}" />
    <meta name="description" content="{{ object.meta_description }}" />
{% endblock extrahead %}


{% block content %}
<section class="flex">
    <article class="custom-prose mb-20 p-6">
        {% if object.thumbnail %}
            <div class="mb-6">
                <img class="w-full" src="{{ object.thumbnail.url }}" alt="{{ object.title }}" />
            </div>
        {% endif %}

        <title>{{ object.title }}</title>

        {{ object.content|safe }}
    </article>

    {% include "blog/shared/toc.html" with tags=object.tags.all status=object.status created=object.created table_of_contents=object.table_of_contents %}
</section>

<section id="utterances-post-comments"></section>
<script>
    (function() {
        const theme = localStorage.getItem("darkmode") === "enabled" ? "github-dark" : "github-light";
        const script = document.createElement("script");
        script.src = "https://utteranc.es/client.js";
        script.setAttribute("repo", "ntquangtrung/trung.dev");
        script.setAttribute("issue-term", "url");
        script.setAttribute("label", "utterances");
        script.setAttribute("theme", theme);
        script.setAttribute("crossorigin", "anonymous");
        script.async = true;
        document.getElementById("utterances-post-comments").appendChild(script);
    })();
</script>
{% endblock content %}
