{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="bg-background-card rounded-xl p-6 mt-8 border border-[#3d3d3d] shadow-lg flex justify-center">
    <div class="flex flex-col justify-between">
        <div>
            <h1 class="mb-6">
                Xin chao, I'm <strong class="text-gold">{{ first_name }}</strong>
            </h1>
            <p class="mb-4">
                A developer who spent countless hours figuring out how to center a div, and is now exploring the backend, motivated by curiosity and the simple goal of getting a little better each day.
            </p>
            <p class="mb-4">
                This site was built with <strong>Django</strong>, with a sprinkle of AI
                help here and there.
            </p>
        </div>
        <div class="flex justify-between">
            <a class="button" href="{% url 'blog:about' %}">About me</a>
        </div>
    </div>
    <div class="rounded-lg overflow-hidden">
        <img src="{% static 'icons/django.jpg' %}" alt="sauron" class="w-3xl" />
    </div>
</div>
{% endblock content %}
