{% extends "base.html" %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css">
{% endblock extrahead %}

{% block content %}
<div class="px-6">
    <div class="bg-background-card rounded-xl p-6 mt-8 border border-[#3d3d3d] shadow-lg flex justify-center gap-4 md:gap-0">
        <div class="flex flex-col justify-center gap-4">
            <div>
                <h1 class="mb-6">
                    <strong class="text-gold">{{last_name}} {{ first_name }}</strong>
                </h1>
                <p class="mb-4">
                    Full-stack developer specializing in web applications
                </p>
                <p class="mb-4">
                    This site was built with <strong>Django</strong>, with a sprinkle of AI
                    help here and there.
                </p>
            </div>
            <div class="flex justify-between">
                <a class="button" href="{% url 'blog:about' %}">About me</a>
            </div>
        </div>
        <div class="rounded-lg overflow-hidden md:block hidden">
            <img src="{% static 'icons/django.jpg' %}" alt="unchained" class="max-w-64  object-cover" />
        </div>
    </div>

    {% include "blog/components/skill_marquee/index.html" %}
</div>
{% endblock content %}
