# This file auto-provisions data sources when Grafana starts
apiVersion: 1

datasources:
  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    uid: loki
    isDefault: true
    editable: false
    jsonData:
      maxLines: 1000
      timeout: 60

  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    uid: prometheus
    isDefault: false
    editable: false
    jsonData:
      timeInterval: "15s"
      httpMethod: "POST"
