@reference "@/assets/main.css";

.spinnerContainer {
  @apply inline-block relative;
}

.sm {
  @apply w-6 h-6;
}

.md {
  @apply w-10 h-10;
}

.lg {
  @apply w-16 h-16;
}

.spinner {
  @apply w-full h-full rounded-full;

  @apply border-4 border-transparent;

  border-top-color: var(--color-orange);
  border-right-color: var(--color-orange-dark);
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
