{% extends "base.html" %}
{% load static %}

{% block title %}Resume{% endblock %}

{% block content %}
    <section class="p-6">
        <h1 class="mb-4">My Resume</h1>

        <span class="block md:hidden">Your screen must be at least 768px wide to view the resume.</span>

        <iframe id="resume-preview" class="hidden md:block shadow-lg" src="{% url 'blog:resume_preview' %}" width="100%" style="border: none; height: 100vh;" sandbox="allow-same-origin allow-top-navigation-by-user-activation" referrerpolicy="no-referrer"></iframe>

        <div id="resume-download" class="hidden md:block my-8 flex text-center">
            <a class="block text-blue-500 underline" href="{% url 'blog:resume_download' %}" target="_blank" rel="noopener noreferrer">Download My Resume In PDF</a>
        </div>
    </section>

    <script>
        $(function() {
            function toggleResumeElements() {
                var isIpad = $(window).width() >= 768;
                $('#resume-preview').toggleClass('hidden', !isIpad).toggleClass('lg:block', isIpad);
                $('#resume-download').toggleClass('hidden', !isIpad).toggleClass('lg:block', isIpad);
            }
            toggleResumeElements();
            $(window).on('resize', toggleResumeElements);
        });
    </script>
{% endblock %}
