{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nguyen Tran Quang Trung</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Calibri:400,700|Arial:400,700|Times+New+Roman:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/resume/preview.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <div>
            <h1>{{ last_name|stringformat:"s" }} {{ first_name|stringformat:"s" }}</h1>
            <h2>Web Developer</h2>

        </div>
    </header>

    <div class="divider"></div>

    <div>
        <span>
            <a href="mailto:{{ email|stringformat:"s" }}" style="text-decoration:none; color:inherit;">
                <i class="fa-solid fa-envelope" style="margin-right:6px; vertical-align:middle;"></i>
                {{ email|stringformat:"s" }}
            </a>
        </span>

    </div>

    <div class="divider"></div>

    <section>
        <h3>Summary</h3>
        {{ resume.objective|safe }}
    </section>

    <div class="divider"></div>

    <section>
        <h3>Work Experience</h3>
        <div class="experiences">
            {% for experience in experiences %}
                <div>
                    <div class="company">
                        <h4>{{ experience.company }}</h4>
                        <div class="shrink">
                            <span>{{ experience.start_date|date:"Y" }}</span>
                            -
                            {% if experience.is_current %}
                                <span>Present</span>
                            {% else %}
                                <span>{{ experience.end_date|date:"Y" }}</span>
                            {% endif %}
                        </div>
                    </div>
                    <strong style="margin-bottom: 12px; display: block;">{{ experience.job_title }}</strong>
                    {{ experience.description|safe }}
                </div>
            {% endfor %}
        </div>
    </section>

    <div class="divider"></div>

    <section>
        <h3>Education</h3>
        <div class="educations">
            {% for education in educations %}
                <div>
                    <div class="education">
                        <h4>{{ education.institution }}</h4>
                        <div class="shrink">
                            {{ education.start_date|date:"Y" }} -
                            {% if education.is_current %}
                                Present
                            {% else %}
                                {{ education.end_date|date:"Y" }}
                            {% endif %}
                        </div>
                    </div>
                    <strong style="margin-bottom: 12px; display: block;">{{ education.degree }}</strong>
                    {{ education.description|safe }}
                </div>
            {% endfor %}
        </div>
    </section>

    <div class="divider"></div>

    <section>
        <h3>Certifications</h3>
        <div class="certifications">
            {% for certification in certifications %}
                <div class="certification">
                    <h4>{{ certification.name }}</h4>
                    <div class="shrink">
                        <span>{{ certification.date_obtained|date:"Y" }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
</body>
</html>
