@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

/**
 * A catch-all path to Django template files, JavaScript, and Python files
 * that contain Tailwind CSS classes and will be scanned by Tailwind to generate the final CSS file.
 *
 * If your final CSS file is not being updated after code changes, you may want to broaden or narrow
 * the scope of this path.
 */
@source "../../../**/*.{html,py,js}";

@layer base {
  :root {
    font-size: 1rem;
    @apply font-mono;
    @apply text-primary;
    @apply bg-background-primary;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    line-height: 1.6;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    line-height: 1.2;
  }

  button:hover {
    @apply cursor-pointer;
  }

  .dark {
    --color-background-primary: #181818; /* Charcoal Black */

    --color-background-sidebar-primary: #181818; /* Charcoal Black */

    --color-primary: #fbfbfb; /* Snow White */

    --color-clickable-primary: #ffd479; /* Light Gold */

    --color-clickable-hover-primary: #c48914; /* Bronze */

    --color-secondary: #999999; /* Silver Gray */

    --color-background-navbar-link-hover: #252525; /* Jet Black */

    --color-border-muted: #252525; /* Jet Black */
  }
}

@theme {
  --font-mono: 'JetBrains Mono', monospace;

  --color-background-primary: #fdf9ee; /* Ivory */

  --color-background-sidebar-primary: #eee8d5; /* Sand */

  --color-primary: #181818; /* Charcoal Black */

  --color-clickable-primary: #c48914; /* Bronze */

  --color-clickable-hover-primary: #ffd479; /* Light Gold */

  --color-secondary: #575757; /* Graphite Gray */

  --header-height: 3.75rem;
  --sidebar-width: 16.25rem;

  --color-background-navbar-link-hover: #eee8d5; /* Sand */

  --color-border-muted: #e5dcbd; /* Light Beige */

  --color-gold: #ffd479;
}

@layer components {
  .btn-nav {
    @apply flex gap-2 hover:bg-background-navbar-link-hover px-3 py-2 rounded-lg;
  }

  .header-actions img {
    @apply h-6 w-6;
  }

  .social-actions > li {
    @apply h-8 w-8 md:h-10 md:w-10 hover:bg-background-navbar-link-hover rounded-lg flex items-center justify-center;
  }

}
