@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

/**
 * A catch-all path to Django template files, JavaScript, and Python files
 * that contain Tailwind CSS classes and will be scanned by Tailwind to generate the final CSS file.
 *
 * If your final CSS file is not being updated after code changes, you may want to broaden or narrow
 * the scope of this path.
 */
@source "../../../**/*.{html,py,js}";

@layer base {
  .dark {
    --color-background-primary: #181818; /* Charcoal Black */

    --color-background-sidebar-primary: #181818; /* Charcoal Black */

    --color-primary: #fbfbfb; /* Snow White */

    --color-clickable-primary: #ffd479; /* Light Gold */

    --color-clickable-hover-primary: #c48914; /* Bronze */

    --color-secondary: #999999; /* Silver Gray */

    --color-background-navbar-link-hover: #252525; /* Jet Black */

    --color-muted: #252525;

    --color-border-muted: var(--color-muted); /* Jet Black */

    --color-gold: #ffd479; /* Light Gold */

    --color-background-card: #1f1f1f; /* Dark Charcoal */

    --color-background-button: hsla(0, 0%, 100%, 0.05);
  }
}

@theme {
  --font-mono: "JetBrains Mono", monospace;

  --color-background-primary: #fdf9ee; /* Ivory */

  --color-background-sidebar-primary: #eee8d5; /* Sand */

  --color-primary: #181818; /* Charcoal Black */

  --color-clickable-primary: #c48914; /* Bronze */

  --color-clickable-hover-primary: #ffd479; /* Light Gold */

  --color-secondary: #575757; /* Graphite Gray */

  --header-height: 3.75rem;
  --sidebar-width: 16.25rem;

  --color-background-navbar-link-hover: #eee8d5; /* Sand */

  --color-muted: #e5dcbd;

  --color-border-muted: var(--color-muted); /* Light Beige */

  --color-gold: #c48914; /* Bronze */

  --color-background-card: #f6f0df; /* Ivory */

  --color-background-button: hsla(0, 0%, 100%, 0.5);
}

@layer base {
  :root {
    font-size: 1rem;
    @apply font-mono;
    @apply text-primary;
    @apply bg-background-primary;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    line-height: 1.6;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    line-height: 1.2;
  }

  p,
  span,
  a,
  li,
  ul,
  ol,
  blockquote,
  pre,
  code,
  table,
  th,
  td {
    font-weight: 400;
    letter-spacing: -0.32px;
  }

  strong {
    font-weight: 800;
  }

  h1 {
    font-size: 2.25rem;
  }
  h2 {
    font-size: 1.875rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  h5 {
    font-size: 1.125rem;
  }
  h6 {
    font-size: 1rem;
  }

  button:hover {
    @apply cursor-pointer;
  }
}

@layer components {
  .btn-nav {
    @apply flex gap-2 hover:bg-background-navbar-link-hover hover:text-gold px-3 py-2 rounded-lg;
  }
  .btn-nav.active {
    @apply bg-background-navbar-link-hover text-gold;
  }

  .header-actions img {
    @apply h-6 w-6;
  }

  .social-actions > li {
    @apply h-8 w-8 md:h-10 md:w-10 hover:bg-background-navbar-link-hover rounded-lg flex items-center justify-center;
  }

  .divider {
    @apply border-t border-border-muted my-4 w-full;
  }

  a.button {
    @apply py-2 px-4 rounded-lg border bg-background-button;
    @apply text-gold hover:text-white border-gold hover:bg-gold;
    @apply dark:text-white dark:border-transparent dark:hover:bg-background-button dark:hover:border-gold dark:hover:text-gold;
  }
}

@layer component {
  .custom-prose {
    hr {
      @apply text-muted my-4;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply text-primary;
    }

    img {
      @apply inline;
    }

    a {
      @apply text-gold hover:underline;
    }

    strong * {
      @apply font-bold;
    }

    p {
      margin-block-start: 1em;
      margin-block-end: 1em;
    }

    ul {
      @apply list-disc pl-6 mt-4 marker:leading-[3];
    }

    table:not([cellpadding]) td,
    table:not([cellpadding]) th {
      padding: 0.4rem;
    }

    @media (max-width: 768px) {
      .responsive-table tr {
        display: flex;
        flex-direction: column;
      }

      .responsive-table,
      .responsive-table tbody {
        display: block;
        height: 100% !important;
      }

      .responsive-table tr {
        height: 100% !important;
      }

      .responsive-table td {
        width: 100% !important;
        height: initial !important;
        display: block;
      }

      .responsive-table colgroup,
      .responsive-table col {
        display: none;
      }
    }
  }
}
