@reference "@/assets/main.css";

.headerContainer {
  background: linear-gradient(90deg, rgb(255 165 0 / 8%) 0%, rgb(127 0 255 / 8%) 100%);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid rgb(255 255 255 / 10%);

  @apply fixed left-0 top-0 z-50 h-(--header-height) w-full flex items-center justify-between;
}
