{% load static %}

<footer class="p-6 shadow-lg border-t-2 border-t-border-muted w-full">
    <div class="flex flex-col items-center justify-center gap-2">
        {% comment %} <span class="text-center">
            Huge thanks to
            <a
                href="https://tania.dev"
                target="_blank"
                class="text-blue-500 hover:underline"
                rel="noopener noreferrer"
            >
                Tania
            </a>
            — her work was a big inspiration for this project
        </span> {% endcomment %}
        <span>
            Made by Trung
            <img
                class="inline-block h-6 w-6"
                src="{% static 'icons/heart.png' %}"
                alt="Made with love"
            />
        </span>
    </div>
</footer>
