<header class="fixed left-0 top-0 z-50 h-[var(--header-height)] w-full shadow-lg border-b border-b-gray-200 backdrop-blur-sm">
    <div class="flex h-full w-full justify-between">
        <div class="flex w-[var(--sidebar-width)] items-center justify-between border-r px-4">
            <div>Dashboard</div>
            <button>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"></path><path d="M9 4v16"></path><path d="M15 10l-2 2l2 2"></path></svg>
            </button>
        </div>

        <nav class="px-8">
            <ul class="flex gap-4 items-center h-full">
                <li>
                    <a href="#" class="transition duration-300 hover:text-blue-300">Notes</a>
                </li>
                <li>
                    <a href="#" class="transition duration-300 hover:text-blue-300">Projects</a>
                </li>
                <li>
                    <a href="#" class="transition duration-300 hover:text-blue-300">About</a>
                </li>
            </ul>
        </nav>
        
    </div>
</header>
