<aside id="nav-sidebar" class="fixed top-0 -left-full [&.open]:left-0 h-full w-full md:w-[var(--sidebar-width)] bg-background-primary mt-[var(--header-height)] shadow-lg z-40  border-r border-r-border-muted transition-[left] duration-300 ease-in-out">
    <nav class="h-full flex gap-4 justify-center items-center pb-[40vh]">
        <ul class="space-y-4">
            <li>
                <a href="#" class="flex items-center space-x-3 transition duration-300 p-2 rounded-md hover:bg-gray-700">
                    <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m0 0l-7 7m7-7v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
                    </svg>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center space-x-3 transition duration-300 p-2 rounded-md hover:bg-gray-700">
                    <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10"></path>
                    </svg>
                    <span>Orders</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center space-x-3 transition duration-300 p-2 rounded-md hover:bg-gray-700">
                    <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H2v-2a3 3 0 015.356-1.857M17 20v-2c0-.134-.01-.265-.029-.395M12 18.293l-1.146-1.147m0 0a1 1 0 10-1.414 1.414m1.414-1.414L12 18.293m0 0l-3.353 3.353M12 18.293l3.353 3.353m-3.353-3.353a1 1 0 101.414-1.414M12 18.293a1 1 0 10-1.414 1.414m-1.414-1.414L12 18.293m0 0l-3.353 3.353M12 18.293l3.353 3.353"></path>
                    </svg>
                    <span>Customers</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center space-x-3 transition duration-300 p-2 rounded-md hover:bg-gray-700">
                    <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0h7.5a2.5 2.5 0 002.5-2.5v-10a2.5 2.5 0 00-2.5-2.5h-7.5m-9 0h9"></path>
                    </svg>
                    <span>Products</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center space-x-3 transition duration-300 p-2 rounded-md hover:bg-gray-700">
                    <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37a1.724 1.724 0 002.572-1.065z"></path>
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                    </svg>
                    <span>Settings</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>
