{% load static %}
{% load active_link_tags %}

<aside id="nav-sidebar" class="fixed top-0 -left-full [&.open]:left-0 h-full w-full md:w-[var(--sidebar-width)] bg-background-primary mt-[var(--header-height)] shadow-lg z-40 border-r border-r-border-muted transition-[left] duration-300 ease-in-out">
    <nav class="h-full flex gap-4 justify-center items-center pb-[40vh]">
        <ul class="space-y-4 header-actions">
            <li>
                <a href="{% url 'blog:notes' %}" class="btn-nav {% active_link 'blog:notes || blog:notes_detail' strict=True %}">
                    <img src="{% static 'icons/notes.svg' %}" alt="notes">
                    Notes
                </a>
            </li>
            <li>
                <a href="{% url 'blog:projects' %}" class="btn-nav {% active_link 'blog:projects' strict=True %}">
                    <img class="fill-gold" src="{% static 'icons/projects.svg' %}" alt="projects">
                    Projects
                </a>
            </li>
            <li>
                <a href="{% url 'blog:about' %}" class="btn-nav {% active_link 'blog:about' strict=True %}">
                    <img src="{% static 'icons/face.svg' %}" alt="about-me">
                    About
                </a>
            </li>
        </ul>
    </nav>
</aside>
