<div class="flex items-center justify-center space-x-1 px-3 py-1">
    <i class="devicon-python-plain"></i><span>Python</span>
</div>
<div class="flex items-center justify-center space-x-1 px-3 py-1">
    <i class="devicon-django-plain"></i><span>Django</span>
</div>
<div class="flex items-center justify-center space-x-1 px-3 py-1">
    <i class="devicon-javascript-plain"></i><span>JavaScript</span>
</div>
<div class="flex items-center justify-center space-x-1 px-3 py-1">
    <i class="devicon-html5-plain"></i><span>HTML & CSS</span>
</div>
<div class="flex items-center justify-center space-x-1 px-3 py-1">
    <i class="devicon-postgresql-plain"></i><span>PostgreSQL</span>
</div>
<div class="flex items-center justify-center space-x-1 px-3 py-1">
    <i class="devicon-docker-plain"></i><span>Docker</span>
</div>
<div class="flex items-center justify-center space-x-1 px-3 py-1">
    <i class="devicon-react-original"></i><span>ReactJS</span>
</div>
<div class="flex items-center justify-center space-x-1 px-3 py-1">
    <i class="devicon-vuejs-plain"></i><span>VueJS</span>
</div>
<div class="flex items-center justify-center space-x-1 px-3 py-1">
    <i class="devicon-typescript-plain"></i><span>TypeScript</span>
</div>
<div class="flex items-center justify-center space-x-1 px-3 py-1">
    <i class="devicon-linux-plain"></i><span>Linux</span>
</div>
<div class="flex items-center justify-center space-x-1 px-3 py-1">
    <i class="devicon-ubuntu-plain"></i><span>Ubuntu</span>
</div>
<div class="flex items-center justify-center space-x-1 px-3 py-1">
    <i class="devicon-redis-plain"></i><span>Redis</span>
</div>
<div class="flex items-center justify-center space-x-1 px-3 py-1">
    <i class="devicon-mysql-plain"></i><span>MySQL</span>
</div>
