name: Manual Deploy to EC2

on:
  workflow_dispatch:  # Manual trigger only

permissions:
  contents: read

jobs:
  deploy:
    name: Deploy to EC2
    runs-on: ubuntu-latest
    environment: production

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v4

    - name: Setup SSH
      uses: webfactory/ssh-agent@v0.9.1
      with:
        ssh-private-key: ${{ secrets.EC2_SSH_KEY }}

    - name: Deploy via SSH
      env:
        REPO_URL: https://${{ secrets.DEPLOY_PAT_TOKEN }}@github.com/${{ github.repository }}.git
        BRANCH: ${{ github.ref_name }}
        POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
        POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
        POSTGRES_HOST: ${{ secrets.POSTGRES_HOST }}
        POSTGRES_PORT: ${{ secrets.POSTGRES_PORT }}
        POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
        ENVIRONMENT: ${{ vars.ENVIRONMENT }}
        DEBUG: ${{ vars.DEBUG }}
        DJANGO_SETTINGS_MODULE: config.settings.${{ vars.ENVIRONMENT }}
        DJANGO_ALLOWED_HOSTS: ${{ vars.DJANGO_ALLOWED_HOSTS }}
        DJANGO_CSRF_TRUSTED_ORIGINS: ${{ vars.DJANGO_CSRF_TRUSTED_ORIGINS }}
        DJANGO_SECRET_KEY: ${{ secrets.DJANGO_SECRET_KEY }}
        GITHUB_PERSONAL_ACCESS_TOKEN=${{ secrets.GITHUB_PERSONAL_ACCESS_TOKEN }}
        GITHUB_BASE_URL=${{ secrets.GITHUB_BASE_URL }}
        GITHUB_API_VERSION=${{ secrets.GITHUB_API_VERSION }}
        REDIS_PASSWORD=${{ secrets.REDIS_PASSWORD }}
        REDIS_HOST=${{ vars.REDIS_HOST }}
        REDIS_PORT=${{ vars.REDIS_PORT }}
        REDIS_DB_INDEX=${{ vars.REDIS_DB_INDEX }}
        CELERY_BROKER_REDIS_DB_INDEX=${{ vars.CELERY_BROKER_REDIS_DB_INDEX }}
        CELERY_BACKEND_REDIS_DB_INDEX=${{ vars.CELERY_BACKEND_REDIS_DB_INDEX }}
        FLOWER_USER=${{ vars.FLOWER_USER }}
        FLOWER_PASSWORD=${{ vars.FLOWER_PASSWORD }}
      run: |
        ssh -o StrictHostKeyChecking=no ubuntu@ec2-16-176-172-255.ap-southeast-2.compute.amazonaws.com << EOF
          set -e
          # Clone or pull repo------------------
          if [ ! -d "django-app" ]; then
            git clone $REPO_URL django-app
          fi
          # Change to the app directory------------------
          cd django-app
          git pull --rebase origin $BRANCH
          # Write environment variables------------------
          cat <<EOT > .env
          POSTGRES_DB=$POSTGRES_DB
          POSTGRES_USER=$POSTGRES_USER
          POSTGRES_PASSWORD=$POSTGRES_PASSWORD
          POSTGRES_HOST=$POSTGRES_HOST
          POSTGRES_PORT=$POSTGRES_PORT
          ENVIRONMENT=$ENVIRONMENT
          DEBUG=$DEBUG
          DJANGO_SETTINGS_MODULE=$DJANGO_SETTINGS_MODULE
          DJANGO_ALLOWED_HOSTS=$DJANGO_ALLOWED_HOSTS
          DJANGO_CSRF_TRUSTED_ORIGINS=$DJANGO_CSRF_TRUSTED_ORIGINS
          DJANGO_SECRET_KEY="$DJANGO_SECRET_KEY"
          GITHUB_PERSONAL_ACCESS_TOKEN=$GITHUB_PERSONAL_ACCESS_TOKEN
          GITHUB_BASE_URL=$GITHUB_BASE_URL
          GITHUB_API_VERSION=$GITHUB_API_VERSION
          REDIS_PASSWORD=$REDIS_PASSWORD
          REDIS_HOST=$REDIS_HOST
          REDIS_PORT=$REDIS_PORT
          REDIS_DB_INDEX=$REDIS_DB_INDEX
          CELERY_BROKER_REDIS_DB_INDEX=$CELERY_BROKER_REDIS_DB_INDEX
          CELERY_BACKEND_REDIS_DB_INDEX=$CELERY_BACKEND_REDIS_DB_INDEX
          FLOWER_USER=$FLOWER_USER
          FLOWER_PASSWORD=$FLOWER_PASSWORD
        EOT
          # Run Docker Compose------------------
          docker compose down
          docker compose -f docker-compose.yml -f docker-compose.override.yml -f docker-compose.prod.yml up --build -d
          docker image prune -f --filter "dangling=true" # Clean up dangling images
        EOF
